<h3>Add a new dose</h3>
<%= link_to 'Home', cocktails_path %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
